<div style=" padding: 30px; width: 100%; ">
  <br>

  <br>
  <input [value]="data.title" log-directive (input)="emit($event)" class="action" >{{'  --- заголовок'}}
  <br><br>
  <input [value]="newData[0]" >
  <br><br>
  <input [value]="newData[1]" >
  <br><br>
  <input [value]="newData[2]" >
  <br><br>
  <input [value]="newData[3]">
  <br><br>

  <button
    (click)="sentData()" >
    отправить
  </button>

  <button
    style="margin-left: 30px;"
    (click)="getData()" >
    заполнить
  </button>


</div>
