<!--data - {/{ newTime }}-->

<div style="border: 1px solid black; overflow: scroll;">
  -*******-
  <pre diff [left]="left" [right]="right"></pre>
  -*******-
  <pre lineDiff [left]="left" [right]="right"></pre>
  -*******-
  <pre semanticDiff [left]="left" [right]="right"></pre>
  -*******-
  <pre processingDiff [left]="left" [right]="right"></pre>
  -*******-

</div>

data - {{ newTime | async | date: 'ms' }}
<button (click)="example('modal')">module send</button>

<button (click)="example(0)">example-1</button>
<button (click)="example(1)">example-2</button>
<button (click)="example(2)">example-3</button>
<button (click)="example(3)">example-4</button>
<app-modal></app-modal>

<div style="background: lightcoral">
  router ---
  <router-outlet>
  </router-outlet>
</div>

<a href='' [routerLink]="['dsfdfg']" >--error--</a>

<button [routerLink]="['Page1']" >
  --1--
</button>

<button [routerLink]="['Page1/one']" >
  --1,1--
</button>

<button [routerLink]="['Page1/two']" >
  --1.2--
</button>

<button [routerLink]="['2/7']" >
  --2-7-
</button>

<button [routerLink]="['2/17']" >
  --2-17-
</button>
<div style="border: 10px solid gray; background: gainsboro; ">
  <h1>Dynamic View and Components</h1>
  <button (click)=showAlert()> Dynamic Component</button>



</div>
<div style="background: gainsboro; height: 300px; overflow: scroll; margin-top: 500px">
  <div style=" padding: 30px; width: 100%; ">
    <div class="dataView"
         [class.warning]="data.flag"
         style="width: 1000px; height: 300px; overflow: scroll; overflow-x: hidden;  padding: 10px;">

    <pre>
        {{data | json }}
    </pre>

    </div>
    <br/><br/>


    <button
      (click)="resert($event)">
      xxxx</button >

    <button
      (click)="changeFlag()">
      {{(data.flag)? 'black' : 'red'}}
    </button >
    <br/><br/>

    <input
      [value]=" "
      (input)="data.title = $event.target.value"
    ><br/><br/>

    <input
      [(ngModel)]="data.title"
    ><br/><br/>


    <app-input [value]="data"> </app-input>

    <app-data-input [data]="data" (myCustomEvent)="data.dataForm[0] = $event" ></app-data-input>

  </div>
</div>

